<div class="page-header">
  <h1>Query</h1>
</div>


<div class="row" ng-hide="$ctrl.search_pending || $ctrl.search_done || $ctrl.download_pending || $ctrl.download_done || $ctrl.download_failed">
  <uib-tabset active="1"" justified="true" type="pills">
    <uib-tab index="0" heading="Simple search">
      <form>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-1 search-box">
            <label for="search-string">Enter your search term</label>
            <input type="text" class="form-control" id="search-string" placeholder="e.g. lantipeptide streptomyces" ng-model="$ctrl.search_string">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-4 search-button">
            <button class="btn btn-primary btn-block" ng-click="$ctrl.simpleSearch()">Search</button>
          </div>
          <div class="col-md-offset-2 col-md-2 search-button">
            <button class="btn btn-default btn-block" ng-click="$ctrl.loadSimpleExample()">Load example</button>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="Build a query">
      <div class="pattern-list form-horizontal">
        <div class="form-group">
          <label class="col-sm-1 control-label">Search: </label>
          <div class="col-sm-4">
            <div class="btn-group">
              <label class="btn btn-info" ng-model="$ctrl.query.search" uib-btn-radio="'cluster'" ng-click="$ctrl.query.return_type = 'json'">Cluster</label>
              <label class="btn btn-info" ng-model="$ctrl.query.search" uib-btn-radio="'gene'" ng-click="$ctrl.query.return_type = 'fasta'">Gene</label>
              <label class="btn btn-info" ng-model="$ctrl.query.search" uib-btn-radio="'domain'" ng-click="$ctrl.query.return_type = 'fastaa'">NRPS/PKS Domain</label>
            </div>
          </div>
          <label class="col-sm-2 col-sm-offset-1 control-label">Return data in format: </label>
          <div class="col-sm-3">
            <div class="btn-group">
              <label ng-if="$ctrl.graphicalPossible()" class="btn btn-info" ng-model="$ctrl.query.return_type" uib-btn-radio="'json'">Graphical</label>
              <label class="btn btn-info" ng-model="$ctrl.query.return_type" uib-btn-radio="'csv'">CSV</label>
              <label class="btn btn-info" ng-model="$ctrl.query.return_type" uib-btn-radio="'fasta'">DNA FASTA</label>
              <label ng-if="$ctrl.query.search != 'cluster'" class="btn btn-info" ng-model="$ctrl.query.return_type" uib-btn-radio="'fastaa'">AA FASTA</label>
            </div>
          </div>
        </div>
        <as-query-term term="$ctrl.query.terms" categories="$ctrl.categories"></as-query-term>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-default btn-block" ng-click="$ctrl.loadComplexExample()"><i class="fa"></i>Load example search</button>
        </div>

        <div class="col-md-2 col-md-offset-8">
          <button ng-if="$ctrl.showSearch()" class="btn btn-primary btn-block" ng-click="$ctrl.search()" ng-disabled="!$ctrl.isValidSearch()">
            <i class="fa fa-search"></i> Search
          </button>
          <button ng-if="!$ctrl.showSearch() && !$ctrl.bowser.safari" class="btn btn-primary btn-block" ng-click="$ctrl.exportFile()" ng-disabled="!$ctrl.isValidSearch()">
            <i class="fa fa-download"></i> Download
          </button>
          <a ng-if="!$ctrl.showSearch() && $ctrl.bowser.safari" class="btn btn-primary btn-block" ng-href="{{$ctrl.getExportUrl()}}" ng-disabled="!$ctrl.isValidSearch()" download>
            <i class="fa fa-download"></i> Download
          </a>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

<div class="row" ng-show="$ctrl.search_done || $ctrl.download_done || $ctrl.download_failed">
  <div class="col-md-2 col-md-offset-10">
    <button class="btn btn-default btn-block" ng-click="$ctrl.resetSearch()">New search</button>
  </div>
</div>

<div class="row" ng-show="$ctrl.results.clusters.length > 0">
  <div uib-collapse="$ctrl.hide_stats">
  <div class="col-xs-4">
    <canvas class="chart chart-bar" chart-data="$ctrl.results.stats.clusters_by_type.data" chart-labels="$ctrl.results.stats.clusters_by_type.labels" chart-options="$ctrl.clusters_by_type_options"></canvas>
  </div>
  <div class="col-xs-4">
    <canvas class="chart chart-bar" chart-data="$ctrl.results.stats.clusters_by_phylum.data" chart-labels="$ctrl.results.stats.clusters_by_phylum.labels" chart-options="$ctrl.clusters_by_phylum_options"></canvas>
  </div>
  </div>
</div>

<div class="row query-results-count" ng-show="$ctrl.results.clusters.length > 0">
  <div class="col-md-4">
    Your search gave <strong>{{$ctrl.results.total}}</strong> result<span ng-hide="$ctrl.results.clusters.length == 1">s</span>    in total. Showing <strong>1</strong> to <strong>{{$ctrl.results.clusters.length}}</strong>
  </div>
  <div class="col-md-1">
    <button class="btn btn-default" ng-click="$ctrl.hide_stats = !$ctrl.hide_stats"><span ng-show="!$ctrl.hide_stats">Hide</span><span ng-show="$ctrl.hide_stats">Show</span> stats</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-block btn-primary" ng-click="$ctrl.downloadCsv()"><i class="fa fa-download"></i> Download results</button>
  </div>
</div>

<div class="row search-box" ng-show="$ctrl.results.clusters.length > 0">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Species</th>
        <th>Accession</th>
        <th>Cluster</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Most similar known cluster</th>
        <th>MIBiG BGC-ID</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cluster-list" ng-repeat="entry in $ctrl.results.clusters" ng-click="$ctrl.showCluster(entry)">
        <td>{{entry.genus}} {{entry.species}} {{entry.strain}}</td>
        <td><a ng-href="{{$ctrl.getNcbiUrl(entry.acc)}}" target="_blank" ng-show="entry.acc != null" ng-click="$event.stopPropagation();">{{entry.acc}}</a></td>
        <td class="cluster-type"><span class="badge" ng-class="entry.term">{{entry.cluster_number}}</span></td>
        <td>{{entry.description}}</td>
        <td class="digits">{{entry.start_pos}}</td>
        <td class="digits">{{entry.end_pos}}</td>
        <td><span ng-show="entry.cbh_description != null">{{entry.cbh_description}} ({{entry.similarity}}% of genes show similarity)</span></td>
        <td><a ng-href="{{$ctrl.getMibigUrl(entry.cbh_acc)}}" target="_blank" ng-show="entry.cbh_acc != null" ng-click="$event.stopPropagation();">{{entry.cbh_acc}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" ng-show="$ctrl.canLoadMore() && !$ctrl.loading_more">
  <button class="btn btn-primary" ng-click="$ctrl.loadMore()"><i class="fa fa-plus"></i> Load more results</button>
</div>

<div class="row" ng-show="$ctrl.search_done && $ctrl.results.clusters.length == 0">
  Your search gave no results. Please change your search terms and try again.
</div>

<div class="row" ng-show="$ctrl.download_done">
  Download ready.
</div>

<div class="row" ng-show="$ctrl.download_failed">
  <span class="text-warning">Download failed</span>: {{$ctrl.failure_reason}}
</div>


<div class="row" ng-show="$ctrl.search_pending || $ctrl.download_pending">
  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> Searching, please wait...
</div>

<div class="row" ng-show="$ctrl.loading_more">
  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> Loading more results, please wait...
</div>
