<div class="row" ng-hide="$ctrl.currentGenome || $ctrl.pending">
  Please select a genome to show.
</div>

<div class="row" ng-show="$ctrl.pending">
   <i class="fa fa-circle-o-notch fa-spin fa-2x"></i> Retrieving data, please wait...
</div>

<div class="row" ng-show="$ctrl.currentGenome">
    <table class="table table-striped table-hover" ng-show="$ctrl.currentGenome.length > 0">
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Most similar MIBiG cluster</th>
        <th>Similarity</th>
        <th>MIBiG BGC-ID</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cluster-list" ng-repeat="entry in $ctrl.currentGenome" ng-click="$ctrl.showCluster(entry)">
        <td class="cluster-type"><span class="badge" ng-class="entry.term">{{entry.cluster_number}}</span></td>
        <td>{{entry.description}}</td>
        <td class="digits">{{entry.start_pos}}</td>
        <td class="digits">{{entry.end_pos}}</td>
        <td><span ng-show="entry.cbh_description != null">{{entry.cbh_description}}</span></td>
        <td class="digits"><span ng-class="$ctrl.hitQuality(entry.similarity);" ng-show="entry.cbh_description != null">{{entry.similarity}} %</span></td>
        <td><a class="link-external" ng-href="{{$ctrl.getMibigUrl(entry.cbh_acc)}}" target="_new" ng-show="entry.cbh_acc != null" ng-click="$event.stopPropagation();">{{entry.cbh_acc}}</a></td>
      </tr>
    </tbody>
  </table>
  <div ng-show="$ctrl.currentGenome.length == 0">No secondary metabolite clusters found</div>
</div>
